.btn-compose {
    --bs-btn-bg: #C2E7FF;
    --bs-btn-color: $dark;
    --bs-btn-hover-color: $dark;
    --bs-btn-hover-bg: #C2E7FF;
    --bs-btn-border-color: none;
    font-size: 14px;
}

.bg-main {
    //#f0f5fb
    background-color: #f9fafb;
}

.card .card-body.card-body-login {
    padding: 4rem 4.5rem;
}

.page-header {
    background: $white;
    border-bottom: 1px solid #e9ebf0;
}

.main-content {
    padding: 16px 35px;
}

.card-border {
    width: 265px;
    padding: 8px 12px 8px 12px;
}