@import './piaf.mixins.scss';
@import './piaf.style.scss';
//@import './piaf.plugins.scss';

@import './bootstrap.scss';
@import './element-io.scss';
//@import './plugins/swal.scss';
//@import './plugins/workflow.scss';
//@import './plugins/webform.scss';
//@import './plugins/tiptap.scss';

@import './icons/fluent-icons.scss';

// Viewers
// @import './pdfjs.scss';

.onlyoffice-wrapper {
  //margin-inline: -1rem;

  height: 70vh;
  max-height: 1300px;

  & > iframe {
    position: initial;
  }
}

/** docq custom css code **/

// Scrollbar (chrome)
// Width
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
// Track
::-webkit-scrollbar-track {
  background: $light;
}
// Handle
::-webkit-scrollbar-thumb {
  background: $gray-500;
  border-radius: 5px;
}
// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $gray-600;
}

// Scrollbar (firefox)
:root,
* {
  scrollbar-color: $gray-500 $light;
  scrollbar-width: thin;
}

.app-menu-tabs {
  left: -80px;
}

.drawer-menu-tabs {
  left: 0;
}

.app-menu-tabs,
.drawer-menu-tabs {
  position: absolute;
  top: 0;
  height: 100%;

  background: $foreground-color;
  border-right: 1px solid $gray-200;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.04);

  .el-tabs {
    height: inherit;
  }

  .el-tabs__header.is-left {
    margin-right: 1px;

    .el-tabs__active-bar {
      width: 4px;
    }

    .el-tabs__item {
      width: 79px;
      height: 100px;
      padding: unset;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: $secondary;
      &.is-active {
        color: $primary;
      }
      &.is-disabled {
        color: $gray-500;
        cursor: not-allowed;
      }

      font-weight: $font-weight-semibold;
      line-height: $line-height-base;

      .tab-icon {
        font-size: 24px;
        margin-bottom: 8px;
      }

      border-bottom: 1px solid $gray-200;
      margin-top: -1px;
    }

    .el-tabs__nav-wrap::after {
      content: none;
    }
  }

  .el-tabs__content {
    display: none;
  }
}

.drawer-pe-none {
  .el-drawer__container {
    pointer-events: none;

    .el-drawer__body {
      pointer-events: initial;
    }
  }
}

.btn-input-like {
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;

  &:not(.btn-input-active) {
    border-color: $input-border-color;
    color: $input-placeholder-color;
    background-color: $input-bg;

    &:hover {
      border-color: $input-border-color;
      color: $input-placeholder-color;
      background-color: $input-bg;
    }
  }
}

.btn-drawer-width,
.btn-min-100px {
  min-width: 100px;
}

.row-light {
  min-height: 40px;
  border-radius: 8px;
  padding: 4px 8px;

  &:not(.bg-none) {
    background-color: $light;
  }

  border: 2px solid transparent;
  &.selected {
    background-color: $primary-light;
    border-color: $theme-color-2;
    &.error {
      background-color: mix($danger, $white, 10%);
    }
  }
  &.error {
    border-color: $danger;
  }
  &.row-hover:hover {
    cursor: pointer;
    background-color: mix($light, $primary-light, 30%);
  }

  transition: background-color 0.15s, border-color 0.15s;
}

.bg-mixed {
  background-color: mix($light, $white, 60%);
  .row-light:not(.selected):not(.error) {
    border-color: $gray-300;
  }
}

.bg-unset {
  background-color: unset;
}

// prettier-ignore
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2 {
  color: $gray-800;
}

.card .card-body.card-body-login {
  padding: 4rem 4.5rem;
}

.client-logo {
  img {
    object-fit: contain;
    // height is defined by the component
    max-width: 260px;
    max-height: 200px;
  }
}

.upload-area {
  border: $border-width dashed $secondary;
  border-radius: $border-radius;
  height: 430px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  transition: border-color 250ms, background-color 250ms;

  &.dragging {
    border-color: $primary;
    background-color: rgba($primary, 0.1);
    & > * {
      pointer-events: none;
    }
  }
}

// https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.pagination-buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: $h3-font-size;

  .page-input .el-input__inner {
    border-radius: 2px;
    border-width: 1px;
    padding: 1px;
    height: 24px;
    width: 35px;
    text-align: center;

    font-size: $h3-font-size;
    color: $gray-800;

    // Hide input number up&down
    // Firefox
    -moz-appearance: textfield;
    // Chrome
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .btn {
    color: $primary;
    &:disabled {
      color: $gray-300;
    }
  }
}

.collapse-group {
  background-color: $gray-100;
  border-radius: 5px;

  // Move the title to the right of the arrow
  .collapse-title {
    flex-grow: 1;
    order: 1;
  }

  .el-collapse-item__content {
    line-height: 1.2;
  }
}

.scale-input {
  line-height: 1;
  padding: 0.25rem;

  background-color: $white;
  border: 1px solid $secondary;
  border-radius: 4px;

  text-align: center;
  color: $secondary;
  font-weight: $font-weight-semibold;

  min-width: 48px;
}

.expiration-input::-webkit-outer-spin-button,
.expiration-input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none !important;
}
.expiration-input input[type='number']::-webkit-outer-spin-button,
.expiration-input input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none !important;
}
.expiration-input {
  -moz-appearance: textfield;
}
.expiration-input input[type='number'] {
  -moz-appearance: textfield;
}

// Draw signature on canvas
.draw-canvas {
  position: relative;
  display: block;
  margin: auto;
  height: 200px;

  border: 2px solid $gray-300;
  border-radius: $border-radius;
  background: none;
  cursor: crosshair;

  & > * {
    pointer-events: none;
  }

  .sign-line {
    position: absolute;
    border-top: 1px dashed rgba($dark, 0.4);
    left: 20px;
  }
}

.card-side-menu {
  .el-menu-item {
    height: 45px;
    line-height: 45px;

    color: $gray-800;
    background-color: transparent;
    border-radius: $border-radius + 5;

    transition: background-color 0.15s color 0.15s;

    i {
      color: $secondary;
    }

    &:not(.cur-menu-title) {
      &.is-active,
      &:hover,
      &:focus {
        color: $primary;
        background-color: $primary-light;
        i {
          color: inherit;
        }
      }
    }
  }
  .el-menu-item-group__title {
    padding: 0;
  }
}

.icon-flag {
  height: auto;
  width: auto;
  max-height: 20px;
  max-width: 20px;
}

.profile-form {
  .collapse-title {
    flex: 1 0 90%;
    order: 1;
    span {
      font-weight: $gray-800;
    }
  }
  .el-collapse-item__header {
    flex: 1 0 auto;
    order: -1;
  }
  .el-tooltip__popper.is-dark {
    background: $gray-800;
  }
  .signature-content {
    background: $gray-100;
    border-radius: 0.5rem;
  }
  .el-avatar > img {
    max-width: 224px;
    display: inline-block;
  }
}

.signature-img-area {
  border: $border-width dashed $secondary;
  border-radius: $border-radius;
  height: 366px;
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.signature-usage-history {
  i {
    font-size: 14px;
    color: #2d5686;
  }
  span {
    font-size: 14px;
    color: #2d5686;
    font-weight: $font-weight-semibold;
  }
}

.sign-img {
  @if $dark-theme {
    filter: invert(1);
  }
}

.select-font {
  background-color: rgba($gray-500, 0.1);
  border: 1px solid rgba($gray-500, 0.5);
  border-radius: $border-radius;
  cursor: default;
  height: 80px;

  padding: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .hide-img-overflow {
    overflow-x: auto;
    padding: 0.5rem 0.25rem;
    img {
      width: auto;
      max-height: 45px;
    }
    &::-webkit-scrollbar {
      width: 1px !important;
      height: 1px !important;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

.user-avatar {
  height: 40px;
  img {
    width: 40px;
    height: 40px;
  }
}

@keyframes background-blinking {
  0% {
    background-color: $primary;
  }
  50% {
    background-color: mix($primary, $primary-light, 40%);
  }
  100% {
    background-color: $primary;
  }
}
@keyframes text-blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.animation-text-blink {
  animation: text-blinking 2s infinite ease-in-out;
}

@keyframes text-danger-blinking {
  0% {
    color: $warning;
  }
  50% {
    color: mix($warning, $dark, 40%);
  }
  100% {
    color: $warning;
  }
}
.expiration-time-blink {
  animation: text-danger-blinking 2s infinite ease-in-out;
}

.signature-field {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  background-color: $gray-100;
  border: 1px solid transparent;
}
.signature-field:hover {
  background-color: $gray-200;
}
.signature-field:active {
  background-color: $gray-300;
  border: 1px solid transparent;
}
.signature-field-unselected {
  border: 1px solid $gray-400 !important;
}
.signature-field-selected {
  background-color: $primary-light;
  border-color: $theme-color-2;
}

.cy-node {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  border-radius: 999px;
  cursor: default;

  .start-end {
    line-height: 1;
    font-size: $font-size-base * 0.6;
    font-weight: $font-weight-semibold;
    text-align: center;
    color: $white;

    max-width: 25px;
  }

  &.sidebar-node {
    height: 60px;
    width: 60px;

    background-color: $gray-100;
    border: 2px solid $gray-300;
    border-radius: 50rem;
  }
}

.cy-area {
  background-color: rgba($primary-light, 0.3);
  border-bottom-right-radius: 12px;

  .drop-node {
    background-color: rgba($success, 0.1);
  }

  .btn-group.cy-actions-float {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;

    background-color: $white;
    border-radius: 8px;

    .btn:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .btn:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.slide-in-out-enter-active,
.slide-in-out-leave-active {
  transition: all 0.5s;
}
.slide-in-out-enter, .slide-in-out-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}

.padding-suffix-2x.el-input--suffix .el-input__inner {
  padding-right: 62px;
}

#pwa-update {
  max-width: 250px;
  position: fixed;
  bottom: 2rem;
  right: calc(1rem + 3vw);
  z-index: 2000; // above v-loading, below drawer
  box-shadow: 0 0 1rem 0 rgba($dark, 0.1);
}

.hide-root-checkbox {
  .el-cascader-panel > .el-cascader-menu:nth-child(1) {
    label.el-radio,
    label.el-checkbox {
      display: none !important;
    }
  }
}

.scroll-img-overflow {
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.25rem;
  img {
    width: auto;
    max-height: 40px;
  }
  &::-webkit-scrollbar {
    width: 1px !important;
    height: 1px !important;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.input-read-only {
  .el-input__inner,
  .el-textarea__inner {
    cursor: text !important;
    color: rgba($dark, 90%) !important;
    background-color: $light !important;
    border-radius: 0.5rem !important;
    border: 0 !important;
  }
}

.html-read-only {
  cursor: text;
  font-size: $font-size-base;
  line-height: 1;
  background-color: $light !important;
  border-radius: 0.5rem !important;
  border: 0 !important;
}

.smart-border-end {
  @media (min-width: 992px) {
    border-right: 1px solid $gray-300;
  }
  @media (max-width: 992px) {
    border-bottom: 1px solid $gray-300;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
}

.mask-container {
  height: 450px;
  position: relative;

  .mask-content {
    height: 450px;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
  }

  .mask {
    z-index: 222;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
  }
}

.perfect-scroll-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* transition group effect */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.flex-btn {
  z-index: 223;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  justify-content: start;
  width: 2.7rem;
  overflow: hidden;
  vertical-align: bottom;
  white-space: nowrap;
  writing-mode: horizontal-tb !important;
  border: 2px solid $primary;
  border-right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: $white;
  color: $primary;
  position: absolute;
  right: 0;
  transition: transform 400ms cubic-bezier(0.2, 0, 0.38, 0.9), width 400ms, background 400ms, color 400ms;

  span {
    transition: opacity 400ms linear;
    opacity: 0;
  }
}
.flex-btn:hover {
  width: 12rem;
  transform: translateX(0%);
  background: $primary;
  color: $white;
  span {
    transition: opacity 400ms linear;
    opacity: 1;
  }
}

.course-card {
  height: 270px;
  width: 230px;
  transition: 0.2s ease;
  box-shadow: 0 0 1px 1px rgba($dark,10%), 0 3px 1px 0 rgba($dark, 10%);
}
.course-card:hover {
  box-shadow: 0 2px 8px 2px rgba($dark, 15%);
}

.certificate-card {
  height: 240px;
  width: 300px;
  transition: 0.2s ease;
  box-shadow: 0 0 1px 1px rgba($dark,10%), 0 3px 1px 0 rgba($dark, 10%);
  border-color: $theme-color-3 !important;
}
.certificate-card:hover {
  box-shadow: 0 2px 8px 2px rgba($dark, 25%);
}