@use 'sass:math';

$main-menu-item-height: 80px;
$main-menu-width: 110px;
$main-menu-width-lg: 95px;
$main-menu-width-md: 90px;
$main-menu-width-xs: 80px;

$sub-menu-width: 230px;
$sub-menu-width-lg: 230px;
$sub-menu-width-md: 230px;
$sub-menu-width-xs: 230px;

$navbar-height: 64px;
$navbar-height-lg: 64px;
$navbar-height-md: 50px;
$navbar-height-xs: 45px;

$navbar-menu-logo-width: 297px;
$sidebar-menu-collapse-width: 72px;

$main-margin: 60px;
$main-margin-lg: 40px;
$main-margin-md: 30px;
$main-margin-xs: 15px;

$app-menu-tabs-width: 80px;
$app-menu-width: 320px;

$main-menu-item-height-mobile: 90px;

$menu-collapse-time: 300ms;
$animation-time-long: 1000ms;
$animation-time-short: 200ms;

$border-radius: 0.1rem;
$border-radius-rounded: 0.75rem;

$separator-color-light: $gray-200;
$separator-color: $gray-300;
$background-color: $light;
$foreground-color: $white;
$input-background: $white;

$dark-btn-background: $dark;
$light-btn-background: $gray-200;
$button-text-color: $white;

$primary-color: $gray-900;
$secondary-color: $gray-700;
$muted-color: $gray-600;
$info-color: $info;
$success-color: $success;
$warning-color: $warning;
$error-color: $danger;

/* 01.Base */
html {
  width: 100%;
  height: 100%;
  background: $background-color;
}

:root {
  --theme-color-1: #{$theme-color-1};
  --theme-color-2: #{$theme-color-2};
  --theme-color-3: #{$theme-color-3};
  --theme-color-4: #{$theme-color-4};
  --theme-color-5: #{$theme-color-5};
  --theme-color-6: #{$theme-color-6};
  --theme-color-1-10: #{rgba($theme-color-1, 0.1)};
  --theme-color-2-10: #{rgba($theme-color-2, 0.1)};
  --theme-color-3-10: #{rgba($theme-color-3, 0.1)};
  --theme-color-4-10: #{rgba($theme-color-4, 0.1)};
  --theme-color-5-10: #{rgba($theme-color-5, 0.1)};
  --theme-color-6-10: #{rgba($theme-color-6, 0.1)};

  --primary-color: #{$primary-color};
  --foreground-color: #{$foreground-color};
  --separator-color: #{$separator-color};

  --bs-primary-light: #{$primary-light};
  --bs-body-bg: #f9fafb!important;
}

#root {
  height: 100%;
}

body {
  &.background {
    height: 100%;
    main {
      margin: 0 !important;
      height: 100%;

      .container {
        height: 100%;
      }
    }
  }
}

::selection {
  @if $dark-theme {
    background: darken($theme-color-3, 15%);
  } @else {
    background: lighten($theme-color-3, 15%);
  }
}

::-moz-selection {
  @if $dark-theme {
    background: darken($theme-color-3, 15%);
  } @else {
    background: lighten($theme-color-3, 15%);
  }
}
.text-primary,
.text-theme-1 {
  color: $theme-color-1 !important;
}

.text-secondary {
  color: $primary-color !important;
}

.main-heading {
  border-bottom: 1px solid $separator-color;
}

.separator {
  border-bottom: 1px solid $separator-color;
}

.alert-dismissible .close {
  padding: 0.5rem 1.25rem;
}

.rounded {
  border-radius: 50px !important;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

body.default-transition .sidebar {
  transition: transform $menu-collapse-time;
}
/* navbar */
nav {
  width: 100%;
  height: $navbar-height;
  border-bottom: 1px solid #e9ebf0;
  background: $white;
  .menu-logo {
    width: $navbar-menu-logo-width;
  }
  .navbar-logo {
    margin: 0 0;

    .logo {
      width: 110px;
      height: 35px;
      background: url($logo-path) no-repeat;
      background-position: center center;
      background-size: contain;
    }

    .logo-mobile {
      width: 100%;
      height: 100%;
      background: url($logo-path-mobile) no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}

.app-container {
  padding-top: $navbar-height;
  display: flex;
  height: 100%;
}

/* Main */
main {
  width: 100%;
  @include respond-below(xs) {
    margin-right: 0;
  }
  box-shadow: none!important;
}

.sidebar {
  display: inline-block;
  min-width: $navbar-menu-logo-width;
  width: $navbar-menu-logo-width;
  overflow: hidden;
  border-right: 1px solid #e9ebf0;
  background: $white;
  .btn:hover {
    box-shadow: 0 5px 5px 0 $gray-400, 0 1px 3px 1px $gray-200
  }

  &.is-collapse {
    min-width: $sidebar-menu-collapse-width;
    width: $sidebar-menu-collapse-width;
  }
}

body.default-transition main {
  transition: margin-left $menu-collapse-time;
}

body {
  min-height: 100%;
  position: relative;
  height: 100vh;
  //padding-bottom: 75px;
  //
  //@include respond-below(xs) {
  //  padding-bottom: 60px;
  //}

  &.no-footer {
    padding-bottom: initial;
    footer {
      display: none;
    }
  }
}

footer {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  border-top: 1px solid #e9ebf0;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 75px;
  background: $white;
  @include respond-below(xs) {
    height: 60px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: $theme-color-1;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-content {
    margin-left: $main-margin; // $sub-menu-width + $main-menu-width + $main-margin;
    margin-right: $main-margin;

    transition: margin-left 300ms;

    @include respond-below(xl) {
      margin-left: $main-margin-lg; // $sub-menu-width-lg + $main-menu-width-lg + $main-margin-lg;
      margin-right: $main-margin-lg;
    }

    @include respond-below(lg) {
      margin-left: $main-margin-md; // $sub-menu-width-md + $main-menu-width-md + $main-margin-md;
      margin-right: $main-margin-md;
    }

    @include respond-below(sm) {
      margin-left: $main-margin-xs !important;
      margin-right: $main-margin-xs !important;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px $foreground-color inset !important;
  -webkit-box-shadow: 0 0 0px 1000px $foreground-color inset !important;
}
